<a href="https://colab.research.google.com/github/ildacec/Python_PythonDesdeCero-Challenge/blob/main/11_lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Desde Cero 🐍

# Pyladies Panamá 🌻

2022

Day 8 - PythonDesdeCero Challenge Sábado 8/Octubre/2022

Referencia: 
https://github.com/Asabeneh/30-Days-Of-Python/blob/master/13_Day_List_comprehension/13_list_comprehension.md

https://docs.hektorprofe.net/python/funcionalidades-avanzadas/comprension-de-listas/



*   La función Lambda es una pequeña función **anónima sin nombre**.

Una función anónima, como su nombre indica es una función sin nombre. ¿Es posible ejecutar una función sin referenciar un nombre? Pues sí, en Python podemos ejecutar una función sin definirla con def. De hecho son similares pero con una diferencia fundamental:

`El contenido de una función lambda debe ser una única expresión en lugar de un bloque de acciones.`

Por tanto podríamos decir que, mientras las funciones anónimas **lambda** sirven para realizar funciones simples, las funciones definidas con def sirven para manejar tareas más extensas.

In [1]:
#Syntax
#lambda arguments : expression

#Sumarle a 10 lo que pase el parámetro A
lambda a : a + 10

x = lambda a : a + 10

print(x(5))

15

# Si deconstruimos una función sencilla, podemos llegar a una función lambda.

In [2]:
#función para doblar un valor:
def doblar(num):
    resultado = num*2
    return resultado

#llamado
doblar(2)

4

In [3]:
#Vamos a simplificar el código un poco
def doblar(num):
    return num*2

#llamado
doblar(2)

4

In [4]:
#Todavía más, podemos escribirlo todo en una sola línea:
def doblar(num): return num*2

#llamado
doblar(2)

4

In [5]:
"""Esta notación simple es la que una función lambda intenta replicar,
vamos a convertir la función en una función anónima"""

lambda num: num*2

cos = lambda num: num*2

cos(2)

4

In [6]:
#Gracias a la flexibilidad de Python podemos implementar infinitas funciones simples.
impar = lambda num: num%2 != 0

impar(5)

True

In [7]:
#Darle la vuelta a una cadena utilizando slicing:

revertir = lambda cadena: cadena[::-1]

revertir("Hola")

'aloH'

# Múltiples variables

In [8]:
# Multiples variables
multiple_variable = lambda a, b, c: a ** 2 - 3 * b + 4 * c

print(multiple_variable(5, 5, 3)) # 22

22

In [9]:
#Por ejemplo para sumar dos números:
sumar = lambda x,y: x+y

sumar(5,2)

7

In [10]:
#Intermedio
lambda_func = lambda x: True if x**2 >= 10 else False
lambda_func(3) # Retorna False
lambda_func(4) # Retorna True

True

In [11]:

format_numeric = lambda num: f"{num:e}" if isinstance(num, int) else f"{num:,.2f}"
 
print("Int formatting:", format_numeric(1000000))
print("float formatting:", format_numeric(999999.789541235))

Int formatting: 1.000000e+06
float formatting: 999,999.79

# Problema 1

In [12]:
is_even_list = [lambda arg = x: arg * 10 for x in range(1, 5)]
 
# iterate on each lambda function
# and invoke the function to get the calculated value
for item in is_even_list:
    print(item())

10
20
30
40

# Problema 2

In [13]:
# Example of lambda function using if-else
Max = lambda a, b : a if(a > b) else b
 
print(Max(5, 2))

5

# Problema 3

Crea un script en Python que use lambda para hacer la siguiente 

**Fórmula** = (x+y) * z

Que los 3 valores sean pasados por argumentos

In [14]:
f = lambda x, y, z=1: (x+y) * z

print(f(5, 6))

print(f(5, 6, 7))

11
77

# Función Filter
Es una biblioteca incorporada de Python que devuelve solo aquellos valores que se ajustan a ciertos criterios. 

La sintaxis es **filter**(**`function`**, ***`iterable`***). 

El iterable puede ser cualquier secuencia, como una lista, un conjunto o un objeto de serie (más abajo).

In [15]:
#Desarrollo tradicional
valores = [1, 2, 3, 4, 5, 6, 7, 8, 9]
pares = []
for valor in valores:
    if valor % 2 == 0:
        pares.append(valor)

print(pares)

[2, 4, 6, 8]

In [16]:
#Usando Lambda
valores = [1,2,3,4,5,6,7,8,9]
pares= list(filter(lambda x: x%2==0, valores))

print(pares)

[2, 4, 6, 8]

# Problema 4

Crea un programa en Pyhon que a partir de nombre dados, que filtre solo los nombres que empiecen con A.

lista = ["Alejandra","Juan","Maria","Alfonso"]

In [17]:
lista = ["Alejandra","Juan","Maria","Alfonso"]

nuevaLista = list(filter(lambda x: x[0] == "A", lista))  # 'nuevaLista' tendrá solo los elementos de 'lista'
print(nuevaLista)                                        # que tengan como primer caracter la letra "A"

['Alejandra', 'Alfonso']

# Función Map()

La función map() en Python aplica una función a cada uno de los elementos de una lista.

> **map**(**`una_funcion`**, **`una_lista`**)

In [18]:
'''Imagina que tienes una lista de enteros y quieres obtener una nueva lista con el cuadrado de cada uno de ellos.
Seguramente, lo primero que se te ha ocurrido es algo similar a lo siguiente:'''

enteros = [1, 2, 4, 7]
cuadrados = []
for e in enteros:
    cuadrados.append(e ** 2)
     
print(cuadrados)

[1, 4, 16, 49]

In [20]:
'''Sin embargo, podemos usar una función anónima en combinación con map() 
para obtener el mismo resultado de una manera mucho más simple:'''

enteros = [1, 2, 4, 7]
cuadrados = list(map(lambda x : x ** 2, enteros))

print(cuadrados)

[1, 4, 16, 49]

In [19]:
# El siguiente ejemplo reduce al cubo todos los números de la lista.

list_1 = [1,2,3,4,5,6,7,8,9]
cubed = list(map(lambda x: pow(x,3), list_1))

print(cubed)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [21]:
"""La cosa se vuelve todavía más interesante cuando, en lugar de una lista de valores, 
pasamos como segundo parámetro una lista de funciones: """

enteros = [1, 2, 4, 7]

def cuadrado(x):
    return x ** 2

def cubo(x):
    return x ** 3

funciones = [cuadrado, cubo]
for e in enteros:
    valores = list(map(lambda x : x(e), funciones))
    print(valores)

[1, 1]
[4, 8]
[16, 64]
[49, 343]

#Problema 5
Para la clase dada abajo, cree un programa que le permita imprimir en una función lambda, solo los nombres de la personas mayores de edad

In [22]:
class Persona:

    def __init__(self, nombre, edad):
        self.nombre = nombre
        self.edad = edad

    def __str__(self):
        return "{} de {} años".format(self.nombre, self.edad)


personas = [
    Persona("Juan", 35),
    Persona("Marta", 16),
    Persona("Manuel", 78),
    Persona("Eduardo", 12)
]

In [23]:
menores = filter(lambda persona: persona.edad < 18, personas)

for menor in menores:
    print(menor)

Marta de 16 años
Eduardo de 12 años

# Función **reduce()**
La última función de esta serie que vamos a ver es la función reduce(). 

Esta función se utiliza principalmente para llevar a cabo un cálculo acumulativo sobre una lista de valores y devolver el resultado.

La función reduce() está incluida en el módulo **functools**.

**reduce**(**`función`**, **`iterable`**)

In [24]:
'''Imagina que quieres obtener el resultado de sumar todos los elementos de una lista.
Como en las veces anteriores, la suma la puedes calcular de la siguiente manera:'''

valores = [2, 4, 6, 5, 4]
suma = 0
for el in valores:
    suma += el
print(suma)

21

In [25]:
#Pero también usando la función reduce() en combinación con una función lambda:

#importamos la función
from functools import reduce # Esto es necesario si se está usando Python 3

suma = reduce(lambda x, y: x + y, valores)
print(suma)

21

In [26]:
from functools import reduce  # Esto es necesario si se está usando Python 3

lista = [2,4,6,8]
a = reduce(lambda x,y: x-y, lista)
print(a)

-16

#Problema 6

Cree un script en python que le permita la multimplicación dos listas

a = [1, 2, 3, 4, 5]

b = [6, 7, 8, 9, 10]

In [27]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]

list( map(lambda x,y : x*y, a,b) )

[6, 14, 24, 36, 50]

Agregue la multiplicación por una tercera lista.

c = [11, 12, 13, 14, 15]

In [28]:
c = [11, 12, 13, 14, 15]

list( map(lambda x,y,z : x*y*z, a,b,c) )

[66, 168, 312, 504, 750]