<a href="https://colab.research.google.com/github/ildacec/Python_PythonDesdeCero-Challenge/blob/main/2_5_Repaso_de_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Desde Cero üêç

Pyladies Panam√° üåª

2022


---

Day 2 - PythonDesdeCero Challenge

---

## Repaso #1:  Variables

In [22]:
# Variables in Python
#Cambie los valores por sus datos 

first_name = 'Ilda'
last_name = 'Rojas'
country = 'Panam√°'
city = 'Penonom√©'
age = 15
is_married = True

#Uso de una variable tipo de dato Lista
skills = ['SQL', 'Power BI ', 'R', 'Python']

#Uso de una variable tipo de datos Diccionario
person_info = {
   'firstname':'Ilda',
   'lastname':'Rojas',
   'country':'Panam√°',
   'city':'Penonom√©'
   }

In [23]:
# Imprimiendo los valores guardados en las variables

print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

First name: Ilda
First name length: 4
Last name:  Rojas
Last name length:  5
Country:  Panam√°
City:  Penonom√©
Age:  15
Married:  True
Skills:  ['SQL', 'Power BI ', 'R', 'Python']
Person information:  {'firstname': 'Ilda', 'lastname': 'Rojas', 'country': 'Panam√°', 'city': 'Penonom√©'}

In [25]:
#Asignaci√≥n de  Variables m√∫ltiples en una l√≠nea

#M√∫ltiples variables se puede declarar en una sola l√≠nea: 
first_name, last_name, country, age, is_married = 'Ilda ', 'Rojas ', 'Penonom√© ', 250, True

#M√∫ltple impresi√≥n en una sola l√≠nea
print(first_name, last_name, country, age, is_married)

#La asignacion es m√∫ltiple pero igual se puede imprimir separado
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

Ilda  Rojas  Penonom√©  250 True
First name: Ilda
Last name:  Rojas
Country:  Penonom√©
Age:  250
Married:  True

In [26]:
##Entrada de valores

first_name = input('¬øCu√°l es tu nombre?: ')
age = input('¬øCu√°ntos a√±os tienes? ')

print(first_name)
print(age)

¬øCu√°l es tu nombre?: Ilda
¬øCu√°ntos a√±os tienes? 15
Ilda
15

In [28]:
#Nombres inv√°ldos para las variables

first@name = "tu nombre"
first$name = "tu nombre"
age-1 = 250
1age = 250

SyntaxError: ignored

## Repaso #2: Tipo de Datos

In [29]:
#Tipo de datos

# Printing out types
print(type(first_name))     # str
print(type(last_name))      # str
print(type(age))            # int
print(type(3.14))           # float
print(type(1 + 1j))         # complex
print(type(True))           # bool
print(type([1, 2, 3, 4]))   # list
print(type({'name':'Tu nombre','age':250, 'is_married':True}))    # dict
print(type((1,2)))                                                # tuple

<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'tuple'>