<a href="https://colab.research.google.com/github/ildacec/Python_PythonDesdeCero-Challenge/blob/main/2_Variables_Tipo_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Desde Cero 🐍

Pyladies Panamá 🌻

2022


---

Day 1 - PythonDesdeCero Challenge

---

# Asignación de Variables 


---
|Operador	|Ejemplo|	Equivalente|
|---|---|---|
|=	|x=7	| x=7 |
|+=	|x+=2	| x=x+2 = 9 |
|-=	|x-=2	| x=x-2 = 7 |
|*= |	x*=2| x=x*2 = 14 |

In [11]:
a = 5

In [8]:
print(a)

5

In [10]:
x=7

x+=2	#x=x+2 = 7
print(x)

x-=2	#x=x-2 = 5
print(x)

x*=2	#x=x*2 = 14
print(x)

9
7
14

In [12]:
A = 4

In [13]:
print(a)
print(A)

5
4

In [14]:
a=7; b=2
print("Operadores de asignación")
x=a; x+=b;  print("x+=", x)  # 9
x=a; x-=b;  print("x-=", x)  # 5
x=a; x*=b;  print("x*=", x)  # 14

Operadores de asignación
x+= 9
x-= 5
x*= 14

# ¿Cómo trabajan las variables in Python?

In [16]:
a = 7
b = a
a = 3

In [ ]:
print(a)

3

In [17]:
print(b)

7

# Reglas de nombres de Variables

In [18]:
a = 5

In [19]:
_a=5

In [20]:
@a=5

SyntaxError: ignored

In [21]:
1a=5

SyntaxError: ignored

# Tipo de Datos

In [22]:
a = 5

In [23]:
type(a)

int

In [24]:
b = "Hola"

In [25]:
type(b)

str

In [26]:
# Checking data types

print(type(10))                  # Int
print(type(3.14))                # Float
print(type(1 + 3j))              # Complex
print(type('Asabeneh'))          # String
print(type([1, 2, 3]))           # List
print(type({'name':'Asabeneh'})) # Dictionary
print(type({9.8, 3.14, 2.7}))    # Set
print(type((9.8, 3.14, 2.7)))    # Tuple

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'set'>
<class 'tuple'>

In [27]:
print(type((True, 3.14, 2.7)))    # Tuple

<class 'tuple'>